blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%
}

body {
    width: 400px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px
}

::-webkit-scrollbar-track-piece {
    background-color: white;
    -webkit-border-radius: 3px
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #666;
    -webkit-border-radius: 3px
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #666;
    -webkit-border-radius: 3px
}

#word {
    font-size: 2.1em;
    font-weight: 600;
}

#word:after {
    content: ':';
}

#word-input {
    font-size: 2em;
    padding-left: 7px;
}

#translates-container {
    display: none;
}

.btn-login {
    display: none;
    width: 100% !important;
    margin-bottom: 10px;
}

.checked-word {
    background: rgba(255, 82, 82, 0.44);
    box-shadow: 1px 1px 7px rgb(24, 24, 24);
}

.checked-img {
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

#btn-newSearch {
    display: none;
}

#translates-list li.img {
    display: inline-block;
    margin: 5px 20px;
}

#translates-list li.word {
    padding-left: 10px;
}

#translates-list li:not(.img):before {
    content: "- ";
}

#translates-list span {
    font-size: 2em;
    cursor: pointer;
    transition: background 300ms, border ease-in-out 0.3s;
    padding: 0 3px;
    border-bottom: 1px solid transparent;
}

#translates-list span:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

#translates-list img {
    height: 100px;
    max-width: 150px;
    cursor: pointer;
    transition: transform 200ms;
}

#translates-list img:hover {
    transform: translateZ(0) scale(1.2);
}

#btn-search, .btn-login {
    padding: 0;
    font-size: 1.4em;
    width: 49.5%;
}

#instruction {
    float: right;
}

#buttons-container {
    width: 100px;
    float: right;
}

#translates-list button {
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    float: right;
}

/*#translates-list button:focus {
    background-image: url("../images/focus.png");
    background-size: 60px 55px;
    background-repeat: no-repeat;
    background-position-y: -1px;
}*/

#translates-list button img {
    width: 50px;
    height: 50px;
}

#translates-list button img:active {
    transform: translateZ(0) scale(0.9);
}

#translates-list input {
    width: 150px;
    position: relative;
    right: 30px;
    transition: width 400ms, right 300ms, background 800ms, color 800ms;
    padding-left: 5px;
}

#translates-list input:hover, #translates-list input:focus {
    position: relative;
    right: 100px;
    width: 300px;
    background: rgba(255, 255, 255, 0.94);;
}

#translates-list input:hover::-webkit-input-placeholder,
#translates-list input:focus::-webkit-input-placeholder {
    color: rgb(164, 164, 164);
}